html,
body,
#root {
    height: 100%;
}

#root{
    width: 100%;
    max-width: none;
    margin: 0;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Noto Sans KR", Arial;
}

* {
    box-sizing: border-box;
}

button,
textarea {
    font: inherit;
}